{% extends "master.html" %}
{% block title %}
    Eligible Courses
{% endblock %}

{% block content %}
<div id="eligibility">
<h1 id="heading3">Hello, {{ student.name }}</h1>
    <h2 id="h2">Eligible Courses:</h2>
    <ul>
        {% for course in courses %}
            <li>{{ course.name }}</li>
        {% empty %}
            <li>No courses available for your education level.</li>
        {% endfor %}
    </ul>
<p id="last">click here to go back to<a href="/"> Home</a></p>
</div>
{% endblock %}
